body {
    text-align: center;
    background-color: pink;
    background: url('img/background.jpg');
}

#wrapper {
    width: 100%;
}

#container {
    min-width: 700px;
    width: 50%;
    margin: auto;
    background: url('img/note.jpg');
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
}

.header {
    padding-top: 20px;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 20px;
    margin-top: 10px;
}

.mainSection {
}

.seperator {
    height: 21px;
}

.information {
    font-size: 0.8em;
}

.list {
}

#userInput {
    margin-top: 15px;
    border-radius: 10px 10px;
    padding: 5px;
    font-size: 0.5em;
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

    #userInput:focus {
        outline: 0;
    }

#userList {
    margin: auto;
    width: 70%;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

td {
    color: white;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 10px;
    height: 50px;
    vertical-align: middle;
    background: url('img/backing.jpg');
}

.footer {
    margin-top: 10px;
    font-size: 0.7em;
    padding-bottom: 10px;
}

.tick, .cross {
    float: left;
    padding: 5px;
}

.cross {
    float: right;
}

#footerText {
}

* {
}
